@font-face {
    font-family: 'Merchant';
    src: url(../Merchant/Merchant-Black.otf);
}

@font-face {
    font-family: 'Merchant-Light';
    src: url(../Merchant/Merchant-Light.otf);
}

* {
    word-spacing: 1px;
}

body{
    padding:80px;
    background: #2d2926;
    font-family: 'Merchant';
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding: 50px;
    color: #f8f7f2;
   /* background: rgb(210, 78, 78);
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
}

.alert {
    background: rgb(210, 78, 78);
    color: #f8f7f2;
    border-color: transparent;
}

.form-group{
    margin-bottom: 30px;
    font-family: 'Merchant-Light';
}

.form-btn login{
    color: #2d2926;
    background-color: #f8f7f2;
    border-color: transparent;
}

p {
    margin-top: 20px;
    color: #f8f7f2;
}
